# 필요 라이브러리 설치 & 임포트

In [151]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /opt/anaconda3/envs/ml_env/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/anaconda3/envs/ml_env/lib/python3.12/site-packages (from openpyxl) (2.0.0)

In [152]:
import numpy as np
import pandas as pd

# 전처리

### 시금치 수입/수출 병합

In [153]:
spinach_import = pd.read_excel('/Users/woojin/Desktop/SK Networks Family AI Camp_17/2DA/data/시금치_수입.xlsx')
spinach_export = pd.read_excel('/Users/woojin/Desktop/SK Networks Family AI Camp_17/2DA/data/시금치_수출.xlsx')

spinach_import = spinach_import.drop(['AGCODE', 'HSCODE', '금액', '국가명', '구분'], axis=1).reset_index(drop=True)
spinach_export = spinach_export.drop(['AGCODE', 'HSCODE', '금액', '국가명', '구분'], axis=1).reset_index(drop=True)

spinach_import.rename(columns={'DATE':'날짜', '품목명':'품목', '중량':'수입중량'}, inplace=True)
spinach_export.rename(columns={'DATE':'날짜', '품목명':'품목', '중량':'수출중량'}, inplace=True)

spinach_import = spinach_import.drop(spinach_import[spinach_import['수입중량'] == 0].index, axis=0).reset_index(drop=True)
spinach_export = spinach_export.drop(spinach_export[spinach_export['수출중량'] == 0].index, axis=0).reset_index(drop=True)

spinach_import['날짜'] = pd.to_datetime(spinach_import['날짜'], format='%Y%m').dt.strftime('%Y-%m')
spinach_export['날짜'] = pd.to_datetime(spinach_export['날짜'], format='%Y%m').dt.strftime('%Y-%m')

In [154]:
spinach_import_export = pd.concat([spinach_import, spinach_export], ignore_index=True)

In [155]:
spinach_import_export = spinach_import_export.groupby(['날짜', '품목']).sum().reset_index()
spinach_import_export.head()

        날짜   품목      수입중량   수출중량
0  2021-01  시금치  134130.0  670.9
1  2021-02  시금치  173310.0  280.6
2  2021-03  시금치  283360.0  410.0
3  2021-04  시금치  587070.0  431.0
4  2021-05  시금치  284280.0  397.5

In [156]:
spinach_import_export.to_excel('/Users/woojin/Desktop/SK Networks Family AI Camp_17/2DA/data/spinach_import_export.xlsx', index=False)

### 오이 수입/수출 병합

In [157]:
cucumber_import = pd.read_excel('/Users/woojin/Desktop/SK Networks Family AI Camp_17/2DA/data/오이_수입.xlsx')
cucumber_export = pd.read_excel('/Users/woojin/Desktop/SK Networks Family AI Camp_17/2DA/data/오이_수출.xlsx')

cucumber_import = cucumber_import.drop(['AGCODE', 'HSCODE', '금액', '국가명', '구분'], axis=1).reset_index(drop=True)
cucumber_export = cucumber_export.drop(['AGCODE', 'HSCODE', '금액', '국가명', '구분'], axis=1).reset_index(drop=True)

cucumber_import.rename(columns={'DATE':'날짜', '품목명':'품목', '중량':'수입중량'}, inplace=True)
cucumber_export.rename(columns={'DATE':'날짜', '품목명':'품목', '중량':'수출중량'}, inplace=True)

cucumber_import = cucumber_import.drop(cucumber_import[cucumber_import['수입중량'] == 0].index, axis=0).reset_index(drop=True)
cucumber_export = cucumber_export.drop(cucumber_export[cucumber_export['수출중량'] == 0].index, axis=0).reset_index(drop=True)

cucumber_import['날짜'] = pd.to_datetime(cucumber_import['날짜'], format='%Y%m').dt.strftime('%Y-%m')
cucumber_export['날짜'] = pd.to_datetime(cucumber_export['날짜'], format='%Y%m').dt.strftime('%Y-%m')

In [158]:
cucumber_import_export = pd.concat([cucumber_import, cucumber_export], ignore_index=True)

In [159]:
cucumber_import_export = cucumber_import_export.groupby(['날짜', '품목']).sum().reset_index()
cucumber_import_export.head()

        날짜  품목        수입중량       수출중량
0  2021-01  오이  1562911.32   13739.00
1  2021-02  오이  1174982.06    1934.70
2  2021-03  오이  1776273.30    9513.58
3  2021-04  오이  1664924.67    4950.02
4  2021-05  오이  1923347.66  130380.90

In [160]:
cucumber_import_export.to_excel('/Users/woojin/Desktop/SK Networks Family AI Camp_17/2DA/data/cucumber_import_export.xlsx', index=False)

### 시금치/오이 파일 병합

In [162]:
spinach_cucumber_df = pd.concat([spinach_import_export, cucumber_import_export], ignore_index=True)
spinach_cucumber_df.tail()

          날짜  품목        수입중량      수출중량
103  2025-02  오이  1391995.00  12227.32
104  2025-03  오이  1547836.60  13364.16
105  2025-04  오이  1184961.57  33367.25
106  2025-05  오이  1442605.12  19292.31
107  2025-06  오이  1513866.60  13095.39

In [163]:
spinach_cucumber_df.to_excel('/Users/woojin/Desktop/SK Networks Family AI Camp_17/2DA/data/spinach_cucumber_df.xlsx', index=False)